@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
*{
    background-color: f6fff8;

}

.search_button {
    background-color: red !important;
    color: white !important;
    border: none !important;
}
.headder-a:hover {
    color: #ff5800 !important;
}
.headder-a{
    font-family: 'Roboto'sans-serif;
    font-weight: 600 !important;
}
.logo-image{
    width: auto;
    height: 50px;
}

.title-txt span {
    /* font-family: 'Monoton', cursive; */
    font-family: 'Coustard', serif;
}

.card-hov:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    transition: transform .2s;
}

.prod {
    color: #c40000;
    font-family: 'Coustard', serif;
}

.carousel{
    width: 10rem;
    height: auto;
}